/*** Jumbotron ***/

.open-ac-subheader {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  background-image: url('../img/skate.jpg');
}

.open-ac-subheader h1 {
  color: white;
  text-align: center;
  text-shadow: 3px 4px rgba(0, 0, 0, 0.71);
}

.open-ac-subheader-text {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.71);
}

.open-ac-subheader-text p {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
  padding: 0;
}

.open-ac-subheader-text p strong {
  font-size: 1.3em;
}

ul.logos {
  list-style: none;
  margin: 0;
}

ul.logos li {
  margin-right: 15px;
  float: left;
}

/*** Sections ***/

.section {
  margin-bottom: 30px;
}

.section-title {
  padding: 20px 15px;
  margin: 0;
}

.section-title.valeurs {
  background-color: rgb(72, 139, 215);
}

.section-title.outils {
  background-color: rgb(72, 139, 215);
}

.section-title.changement {
  background-color: rgb(72, 139, 215);
}

.section-title.qui-sommes-nous {
  background-color: rgb(77, 82, 88);
}

.section-title h2 {
  font-weight: 600;
  font-size: 3em;
  margin: 0;
  color: white;
  border-bottom: none;
}

.section p {
  font-size: 1.8rem;
  margin: 0 0 20px;
}

.section li {
  font-size: 1.8rem;
  padding: 3px 0 3px 0;
}

.section .content {
  background-color: white;
  padding: 90px 0;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 54%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.sub-section {
  margin: 30px 0;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px #999;
  -moz-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  color: 0 1px 3px #999;
}

.sub-section .content {
  padding: 30px;
}

.sub-section-title {
  font-size: 1.2em;
  padding: 15px;
  margin: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; 
  -webkit-align-items: center;
          align-items: center;
}

.sub-section-title h3 {
  margin: 10px;
  font-weight: 600;
  color: white;
  border-bottom: none;
  font-size: 1.3em;
  flex: 3;
}

.sub-section-title.mobilisco {
  background-color: rgb(165, 147, 253);
}

.sub-section-title.gemasco {
  background-color: rgb(94, 144, 224);
}

.sub-section-title.dossiersco {
  background-color: rgb(70, 180, 79);
}

.sub-section-title.subtitle-changement {
  background-color: rgb(77, 152, 237);
}

.sub-section-title img {
  max-height: 50px;
  max-width: 100%;
  width: auto;
  height: auto;
  flex: 1;
}

.btn-primary {
  font-size: 1.4em;
  padding: 15px 30px;
}

.form-actions {
  text-align: right;
  padding-top: 30px;
}

blockquote.valeurs {
  margin-top: 65px;
  background-color: #F9F9F9;
}

blockquote.valeurs .fa-quote-left {
  margin-right: 15px;
}

blockquote.valeurs .fa-quote-right {
  margin-left: 15px;
}

#form-actions-changement {
  padding-top: 15px;
}

#input-name {
  display: inline-block;
  width: 280px;
  height: 60px;
}

#outils {
  background-image: url('../img/page-background.png');
  background-attachment: fixed;
  margin-bottom: 0;
}

#changement {
  background-image: url('../img/background-ecailles.png');
  background-attachment: fixed;
  margin-bottom: 0;
}

/*** Mobile ***/
@media (max-width: 640px) {
  ul.logos img {
    height: 30px;
  }

  .sub-section-title img {
    flex: 3;
  }

  .form-actions {
    text-align: center;
  }

  #input-name {
    display: block;
    width: 100%;
    height: 100%;
  }

  a.btn {
    white-space: normal;
  }

  .btn-primary {
    font-size: 1em;
    padding: 5px 10px;
  }
}

/*** Tablets ***/
@media (min-width: 640px) and (max-width: 768px) {
  ul.logos img {
    height: 45px;
  }
}

/*** Desktop ***/
@media (min-width: 768px) {
  ul.logos img {
    height: 55px;
  }

  .jumbotron {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

/*** Sumo ***/
@media (min-width: 1024px) {
  ul.logos img {
    height: 65px;
  }
}
