.my-mainmenu-wrapper {
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
}

.open-ac-subheader {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.open-ac-subheader h1 {
  color: white;
  text-align: center;
  text-shadow: 3px 4px rgba(0, 0, 0, 0.71);
}

.open-ac-subheader-text {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.71);
}

.open-ac-subheader-text p {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
  padding: 0;
}

.open-ac-subheader-text p strong {
  font-size: 1.3em;
}

ul.logos {
  list-style: none;
  margin: 0;
}

ul.logos li {
  margin-right: 15px;
  float: left;
}

.jumbotron {
  background-image: url('../img/skate2.jpg');
}

.my-service-wrapper {
  display: inline-block;
  width: 100%;
  background: rgba(255, 255, 255, 0.90);
  text-align: center;
  padding: 30px 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  -webkit-box-shadow: 0 1px 3px #999;
  -moz-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  color: 0 1px 3px #999;
}

.my-service-wrapper h2 {
  font-size: 1.2em;
  margin: 0;
  border-bottom: none;
}

.my-service-wrapper h2 span {
  color: rgba(0, 0, 0, 0.1);
}

.my-service-wrapper:hover {
  text-decoration: none;
  background-color: whitesmoke;
}

.my-service-wrapper:hover h2 span {
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .my-service-wrapper {
    padding: 10px 5px;
    margin: 10px 5px;
  }
}

.my-section {
  margin-bottom: 30px;
}

.my-section-title {
  padding: 20px 0;
  margin: 0;
}

.my-section-title.valeurs {
  background-color: rgb(72, 139, 215);
}

.my-section-title.outils {
  background-color: rgb(131, 115, 249);
}

.my-section-title.changement {
  background-color: rgb(249, 115, 115);
}

.my-section-title.qui-sommes-nous {
  background-color: rgb(72, 139, 215);
}

.my-section-title h2 {
  font-weight: 600;
  font-size: 3em;
  margin: 0;
  color: white;
  border-bottom: none;
}

.my-section-subtitle {
  font-size: 1.2em;
  padding: 15px;
  margin: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; 
  -webkit-align-items: center;
          align-items: center;
}

.my-section-subtitle h3 {
  margin: 10px;
  font-weight: 600;
  color: white;
  border-bottom: none;
  font-size: 1.3em;
  flex: 3;
}

.my-section-subtitle.mobilisco {
  background-color: rgb(165, 147, 253);
}

.my-section-subtitle.gemasco {
  background-color: rgb(94, 144, 224);
}

.my-section-subtitle.dossiersco {
  background-color: rgb(70, 180, 79);
}

.my-section-subtitle.subtitle-changement {
  background-color: rgb(245, 138, 138);
}

.my-section-subtitle img {
  max-height: 50px;
  max-width: 100%;
  width: auto;
  height: auto;
  flex: 1;
}

.my-section p {
  font-size: 1.8rem;
  margin: 0 0 20px;
}

.my-section li {
  font-size: 1.8rem;
  padding: 3px 0 3px 0;
}

.my-section .content {
  background-color: white;
  padding: 90px 0;
}

#form-actions-changement {
  padding-top: 15px;
}

.my-section .media {
  padding-top: 40px;
  margin: auto;
}

.blockquote-reverse {
  text-align: right;
}

.simple-sep {
  border: 0;
  border-top: 1px solid #E2E2E2;
  margin: 40px 60px;
}

#input-name {
  width: 280px;
}

blockquote.valeurs {
  margin-top: 65px;
  background-color: #F9F9F9;
}

blockquote.valeurs .fa-quote-left {
  margin-right: 15px;
}

blockquote.valeurs .fa-quote-right {
  margin-left: 15px;
}

#outils {
  background-image: url('../img/page-background.png');
  background-attachment: fixed;
  margin-bottom: 0;
}

.sub-section {
  margin: 30px 0;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px #999;
  -moz-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  color: 0 1px 3px #999;
}

.sub-section .content {
  padding: 30px;
}

.form-actions {
  text-align: center;
  padding-top: 30px;
}

.nav-section {
  display: none;
}

/*** Mobile ***/
@media (max-width: 640px) {
  ul.logos img {
    height: 30px;
  }

  .my-section-subtitle img {
    flex: 3;
  }
}

/*** Tablets ***/
@media (min-width: 640px) and (max-width: 768px) {
  ul.logos img {
    height: 45px;
  }
}

/*** Desktop ***/
@media (min-width: 768px) {
  ul.logos img {
    height: 55px;
  }

  .nav-section {
    padding: 30px 0;
    display: none;
  }

  .jumbotron {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

/*** Sumo ***/
@media (min-width: 1024px) {
  ul.logos img {
    height: 65px;
  }
}
